--
-- PostgreSQL database dump
--

\restrict 5FLStfgVdcmth6KUJBHJvhe7CfArG3cWLygdXyK2pCoTPch8qa7JPwSudXex5U5

-- Dumped from database version 18.1
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: postgres
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO postgres;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON SCHEMA public IS '';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Client; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Client" (
    id text NOT NULL,
    "clientId" text NOT NULL,
    name text NOT NULL,
    alias text NOT NULL,
    "gstStatus" text NOT NULL,
    gstin text,
    pan text NOT NULL,
    address text,
    country text,
    pin text,
    state text
);


ALTER TABLE public."Client" OWNER TO postgres;

--
-- Name: Employee; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Employee" (
    id text NOT NULL,
    "employeeId" text NOT NULL,
    "firstName" text NOT NULL,
    "lastName" text NOT NULL,
    "officeEmail" text NOT NULL,
    designation text NOT NULL,
    role text NOT NULL,
    status text DEFAULT 'pending'::text NOT NULL,
    password text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    department text DEFAULT 'General'::text NOT NULL,
    "reportingManager" text,
    "reportingPartner" text
);


ALTER TABLE public."Employee" OWNER TO postgres;

--
-- Name: EmployeeProfile; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."EmployeeProfile" (
    id text NOT NULL,
    "employeeId" text NOT NULL,
    dob timestamp(3) without time zone NOT NULL,
    doj timestamp(3) without time zone NOT NULL,
    education text NOT NULL,
    "maritalStatus" text NOT NULL,
    gender text NOT NULL,
    "permanentAddress" text NOT NULL,
    "currentAddress" text NOT NULL,
    pan text NOT NULL,
    aadhaar text NOT NULL,
    "panFileUrl" text,
    "aadhaarFileUrl" text,
    "currentPinCode" text,
    "guardianAddress" text,
    "guardianName" text,
    "guardianNumber" text,
    "personalEmail" text,
    "personalMobile" text,
    "employeePhotoUrl" text,
    "accountHolderName" text,
    "bankAccountNumber" text,
    "bankName" text,
    "branchName" text,
    "ifscCode" text,
    "bankStatementFileUrl" text
);


ALTER TABLE public."EmployeeProfile" OWNER TO postgres;

--
-- Name: Job; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Job" (
    id text NOT NULL,
    "jobId" text NOT NULL,
    name text NOT NULL,
    status text NOT NULL,
    billable boolean NOT NULL,
    "projectId" text NOT NULL,
    description text,
    "endDate" timestamp(3) without time zone,
    "startDate" timestamp(3) without time zone,
    "combinedId" text NOT NULL,
    "createdBy" text
);


ALTER TABLE public."Job" OWNER TO postgres;

--
-- Name: Leave; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Leave" (
    id text NOT NULL,
    "leaveId" text NOT NULL,
    type text NOT NULL,
    "fromDate" timestamp(3) without time zone NOT NULL,
    "toDate" timestamp(3) without time zone NOT NULL,
    duration text NOT NULL,
    "totalDays" double precision NOT NULL,
    reason text NOT NULL,
    status text DEFAULT 'pending'::text NOT NULL,
    "appliedDate" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "approvedBy" text,
    "approvedDate" timestamp(3) without time zone,
    "employeeId" text NOT NULL
);


ALTER TABLE public."Leave" OWNER TO postgres;

--
-- Name: LeaveBalance; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."LeaveBalance" (
    id text NOT NULL,
    "employeeId" text NOT NULL,
    "openingBalance" double precision DEFAULT 0 NOT NULL,
    "leavesEarned" double precision DEFAULT 0 NOT NULL,
    "leavesTaken" double precision DEFAULT 0 NOT NULL,
    "closingBalance" double precision DEFAULT 0 NOT NULL,
    "lastUpdated" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."LeaveBalance" OWNER TO postgres;

--
-- Name: Project; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Project" (
    id text NOT NULL,
    "projectId" text NOT NULL,
    name text NOT NULL,
    status text NOT NULL,
    "startDate" timestamp(3) without time zone NOT NULL,
    billable boolean NOT NULL,
    "clientId" text NOT NULL,
    "contactPerson" text,
    "createdBy" text,
    "endDate" timestamp(3) without time zone
);


ALTER TABLE public."Project" OWNER TO postgres;

--
-- Name: ProjectAttachment; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."ProjectAttachment" (
    id text NOT NULL,
    "projectId" text NOT NULL,
    "fileName" text NOT NULL,
    "filePath" text NOT NULL,
    "fileSize" integer NOT NULL,
    "mimeType" text NOT NULL,
    "uploadedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "uploadedBy" text
);


ALTER TABLE public."ProjectAttachment" OWNER TO postgres;

--
-- Name: ProjectUser; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."ProjectUser" (
    id text NOT NULL,
    "projectId" text NOT NULL,
    "employeeId" text NOT NULL
);


ALTER TABLE public."ProjectUser" OWNER TO postgres;

--
-- Name: RegistrationToken; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."RegistrationToken" (
    id text NOT NULL,
    token text NOT NULL,
    email text NOT NULL,
    "employeeId" text NOT NULL,
    "expiresAt" timestamp(3) without time zone NOT NULL,
    "isUsed" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."RegistrationToken" OWNER TO postgres;

--
-- Name: Reimbursement; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Reimbursement" (
    id text NOT NULL,
    "claimId" text NOT NULL,
    category text NOT NULL,
    amount double precision NOT NULL,
    description text,
    date timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    status text DEFAULT 'pending'::text NOT NULL,
    "employeeId" text NOT NULL
);


ALTER TABLE public."Reimbursement" OWNER TO postgres;

--
-- Name: Timelog; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Timelog" (
    id text NOT NULL,
    hours double precision NOT NULL,
    description text NOT NULL,
    date timestamp(3) without time zone NOT NULL,
    "employeeId" text NOT NULL,
    "jobId" text NOT NULL,
    "reportingManagerId" text,
    "reportingPartnerId" text,
    "approvedAt" timestamp(3) without time zone,
    "approvedBy" text,
    "billableStatus" text DEFAULT 'billable'::text NOT NULL,
    "clientId" text NOT NULL,
    "combinedJobCode" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "projectId" text NOT NULL,
    "submissionStatus" text DEFAULT 'not_submitted'::text NOT NULL,
    "submittedAt" timestamp(3) without time zone,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "weekStart" timestamp(3) without time zone NOT NULL,
    "workItem" text
);


ALTER TABLE public."Timelog" OWNER TO postgres;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO postgres;

--
-- Name: password_resets; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.password_resets (
    id text NOT NULL,
    "userId" text NOT NULL,
    email text NOT NULL,
    token text NOT NULL,
    "expiresAt" timestamp(3) without time zone NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.password_resets OWNER TO postgres;

--
-- Data for Name: Client; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Client" (id, "clientId", name, alias, "gstStatus", gstin, pan, address, country, pin, state) FROM stdin;
\.


--
-- Data for Name: Employee; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: EmployeeProfile; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."EmployeeProfile" (id, "employeeId", dob, doj, education, "maritalStatus", gender, "permanentAddress", "currentAddress", pan, aadhaar, "panFileUrl", "aadhaarFileUrl", "currentPinCode", "guardianAddress", "guardianName", "guardianNumber", "personalEmail", "personalMobile", "employeePhotoUrl", "accountHolderName", "bankAccountNumber", "bankName", "branchName", "ifscCode", "bankStatementFileUrl") FROM stdin;
\.


--
-- Data for Name: Job; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Job" (id, "jobId", name, status, billable, "projectId", description, "endDate", "startDate", "combinedId", "createdBy") FROM stdin;
\.


--
-- Data for Name: Leave; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Leave" (id, "leaveId", type, "fromDate", "toDate", duration, "totalDays", reason, status, "appliedDate", "approvedBy", "approvedDate", "employeeId") FROM stdin;
\.


--
-- Data for Name: LeaveBalance; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."LeaveBalance" (id, "employeeId", "openingBalance", "leavesEarned", "leavesTaken", "closingBalance", "lastUpdated") FROM stdin;
70a7214f-c4e2-485b-b093-fa2bd44b6faf	9d8fa7a7-0a8b-4e19-84f9-3127748ddaf3	12	0	0	12	2026-03-07 08:26:51.205
2efacd4f-93e4-4819-b934-62502390aa0d	679709d3-a4f8-44d8-84f2-4a0b41b82fac	12	0	0	12	2026-03-07 08:27:30.196
8ffb084f-ad45-4df8-8c84-0fc46245482f	5a7859ac-b521-47de-80a4-aef4e4144ad5	12	0	0	12	2026-03-07 08:27:44.677
\.


--
-- Data for Name: Project; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Project" (id, "projectId", name, status, "startDate", billable, "clientId", "contactPerson", "createdBy", "endDate") FROM stdin;
\.


--
-- Data for Name: ProjectAttachment; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."ProjectAttachment" (id, "projectId", "fileName", "filePath", "fileSize", "mimeType", "uploadedAt", "uploadedBy") FROM stdin;
\.


--
-- Data for Name: ProjectUser; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."ProjectUser" (id, "projectId", "employeeId") FROM stdin;
\.


--
-- Data for Name: RegistrationToken; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."RegistrationToken" (id, token, email, "employeeId", "expiresAt", "isUsed", "createdAt") FROM stdin;
177f78f2-1833-47b1-b041-ba937ae6d410	c93916e9821bc7dde6884bf8e9df15b1061c0942361cc705e3b186ce56bd3c57	netrawati.indulkar@asaind.co.in	679709d3-a4f8-44d8-84f2-4a0b41b82fac	2026-03-08 06:24:25.226	t	2026-03-07 06:24:25.233
\.


--
-- Data for Name: Reimbursement; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Reimbursement" (id, "claimId", category, amount, description, date, status, "employeeId") FROM stdin;
\.


--
-- Data for Name: Timelog; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Timelog" (id, hours, description, date, "employeeId", "jobId", "reportingManagerId", "reportingPartnerId", "approvedAt", "approvedBy", "billableStatus", "clientId", "combinedJobCode", "createdAt", "projectId", "submissionStatus", "submittedAt", "updatedAt", "weekStart", "workItem") FROM stdin;
\.


--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: password_resets; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: Client Client_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Client"
    ADD CONSTRAINT "Client_pkey" PRIMARY KEY (id);


--
-- Name: EmployeeProfile EmployeeProfile_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."EmployeeProfile"
    ADD CONSTRAINT "EmployeeProfile_pkey" PRIMARY KEY (id);


--
-- Name: Employee Employee_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Employee"
    ADD CONSTRAINT "Employee_pkey" PRIMARY KEY (id);


--
-- Name: Job Job_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Job"
    ADD CONSTRAINT "Job_pkey" PRIMARY KEY (id);


--
-- Name: LeaveBalance LeaveBalance_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."LeaveBalance"
    ADD CONSTRAINT "LeaveBalance_pkey" PRIMARY KEY (id);


--
-- Name: Leave Leave_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Leave"
    ADD CONSTRAINT "Leave_pkey" PRIMARY KEY (id);


--
-- Name: ProjectAttachment ProjectAttachment_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ProjectAttachment"
    ADD CONSTRAINT "ProjectAttachment_pkey" PRIMARY KEY (id);


--
-- Name: ProjectUser ProjectUser_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ProjectUser"
    ADD CONSTRAINT "ProjectUser_pkey" PRIMARY KEY (id);


--
-- Name: Project Project_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Project"
    ADD CONSTRAINT "Project_pkey" PRIMARY KEY (id);


--
-- Name: RegistrationToken RegistrationToken_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."RegistrationToken"
    ADD CONSTRAINT "RegistrationToken_pkey" PRIMARY KEY (id);


--
-- Name: Reimbursement Reimbursement_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Reimbursement"
    ADD CONSTRAINT "Reimbursement_pkey" PRIMARY KEY (id);


--
-- Name: Timelog Timelog_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Timelog"
    ADD CONSTRAINT "Timelog_pkey" PRIMARY KEY (id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: password_resets password_resets_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.password_resets
    ADD CONSTRAINT password_resets_pkey PRIMARY KEY (id);


--
-- Name: Client_clientId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Client_clientId_key" ON public."Client" USING btree ("clientId");


--
-- Name: EmployeeProfile_employeeId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "EmployeeProfile_employeeId_key" ON public."EmployeeProfile" USING btree ("employeeId");


--
-- Name: Employee_employeeId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Employee_employeeId_key" ON public."Employee" USING btree ("employeeId");


--
-- Name: Employee_officeEmail_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Employee_officeEmail_key" ON public."Employee" USING btree ("officeEmail");


--
-- Name: Job_combinedId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Job_combinedId_key" ON public."Job" USING btree ("combinedId");


--
-- Name: Job_jobId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Job_jobId_key" ON public."Job" USING btree ("jobId");


--
-- Name: LeaveBalance_employeeId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "LeaveBalance_employeeId_key" ON public."LeaveBalance" USING btree ("employeeId");


--
-- Name: Leave_leaveId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Leave_leaveId_key" ON public."Leave" USING btree ("leaveId");


--
-- Name: Project_projectId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Project_projectId_key" ON public."Project" USING btree ("projectId");


--
-- Name: RegistrationToken_token_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "RegistrationToken_token_key" ON public."RegistrationToken" USING btree (token);


--
-- Name: Reimbursement_claimId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Reimbursement_claimId_key" ON public."Reimbursement" USING btree ("claimId");


--
-- Name: EmployeeProfile EmployeeProfile_employeeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."EmployeeProfile"
    ADD CONSTRAINT "EmployeeProfile_employeeId_fkey" FOREIGN KEY ("employeeId") REFERENCES public."Employee"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Job Job_projectId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Job"
    ADD CONSTRAINT "Job_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES public."Project"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: LeaveBalance LeaveBalance_employeeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."LeaveBalance"
    ADD CONSTRAINT "LeaveBalance_employeeId_fkey" FOREIGN KEY ("employeeId") REFERENCES public."Employee"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Leave Leave_employeeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Leave"
    ADD CONSTRAINT "Leave_employeeId_fkey" FOREIGN KEY ("employeeId") REFERENCES public."Employee"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: ProjectAttachment ProjectAttachment_projectId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ProjectAttachment"
    ADD CONSTRAINT "ProjectAttachment_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES public."Project"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: ProjectUser ProjectUser_employeeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ProjectUser"
    ADD CONSTRAINT "ProjectUser_employeeId_fkey" FOREIGN KEY ("employeeId") REFERENCES public."Employee"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: ProjectUser ProjectUser_projectId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ProjectUser"
    ADD CONSTRAINT "ProjectUser_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES public."Project"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Project Project_clientId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Project"
    ADD CONSTRAINT "Project_clientId_fkey" FOREIGN KEY ("clientId") REFERENCES public."Client"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: RegistrationToken RegistrationToken_employeeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."RegistrationToken"
    ADD CONSTRAINT "RegistrationToken_employeeId_fkey" FOREIGN KEY ("employeeId") REFERENCES public."Employee"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Reimbursement Reimbursement_employeeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Reimbursement"
    ADD CONSTRAINT "Reimbursement_employeeId_fkey" FOREIGN KEY ("employeeId") REFERENCES public."Employee"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Timelog Timelog_approvedBy_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Timelog"
    ADD CONSTRAINT "Timelog_approvedBy_fkey" FOREIGN KEY ("approvedBy") REFERENCES public."Employee"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Timelog Timelog_employeeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Timelog"
    ADD CONSTRAINT "Timelog_employeeId_fkey" FOREIGN KEY ("employeeId") REFERENCES public."Employee"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Timelog Timelog_jobId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Timelog"
    ADD CONSTRAINT "Timelog_jobId_fkey" FOREIGN KEY ("jobId") REFERENCES public."Job"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Timelog Timelog_reportingManagerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Timelog"
    ADD CONSTRAINT "Timelog_reportingManagerId_fkey" FOREIGN KEY ("reportingManagerId") REFERENCES public."Employee"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Timelog Timelog_reportingPartnerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Timelog"
    ADD CONSTRAINT "Timelog_reportingPartnerId_fkey" FOREIGN KEY ("reportingPartnerId") REFERENCES public."Employee"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: postgres
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict 5FLStfgVdcmth6KUJBHJvhe7CfArG3cWLygdXyK2pCoTPch8qa7JPwSudXex5U5

